/node_modules/
/plugins/
/platforms
/package-lock.json
/yarn.lock
/yarn-error.log
.idea/
/www/js/main.js
/www/js/main.js.map
/src/store/*/*.js
/src/store/*/*.js.map
/src/components/*.jsx
/src/components/*.jsx.map
/src/components/*/*.jsx
/src/components/*/*.jsx.map
/src/components/*/*/*/*/*/*.jsx
/src/components/*/*/*/*/*/*.jsx.map
/src/components/*/*/*.jsx
/src/components/*/*/*.jsx.map
/src/components/*/*/*/*.jsx
/src/components/*/*/*/*.jsx.map
/src/components/*/*/*/*/*.jsx
/src/components/*/*/*/*/*.jsx.map
/src/enums/*.js
/src/enums/*.js.map
/src/enums/queryBuilder/*.js
/src/enums/queryBuilder/*.js.map
/src/dataLayer/*.js
/src/dataLayer/*.js.map
/src/*.jsx
/src/*.jsx.map
/src/utils/*.js
/src/utils/*.js.map
/src/themes/*.js
/src/themes/*.js.map
/src/force/*.js
/src/force/*.js.map
/src/store/*.js
/src/store/*.js.map
/src/resources/*.js
/src/resources/*.js.map
/src/resources/icons/*.jsx
/src/resources/icons/*.jsx.map
/src/resources/icons/header/*.jsx
/src/resources/icons/header/*.jsx.map
/src/hooks/*.js
/src/hooks/*.js.map
/src/interfaces/*/*.js
/src/interfaces/*/*.js.map
/src/models/*.js
/src/models/*.js.map
/src/pickList/*.js
/src/pickList/*.js.map
/www
/src/*.js
/src/*.js.map
/platforms/android/app/src/main/assets/www/js/main.js
/platforms/
/platforms/android/
/platforms/android/app/
